<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="header.html :: commonHead"></head>

<body>
    <header th:replace="header.html :: pageHeader"></header>
    <main role="main">
        <section class="jumbotron text-center mb-0">
            <!-- The background color is used for canary deployement -->
<!--                 {{ with $.banner_color }}-->
<!--                 style="background-color: {{.}};"-->
<!--                 {{ end }}-->
            <div class="container">
                <h1 class="jumbotron-heading">
                    One-stop for Hipster Fashion &amp; Style Online
                </h1>
                <p class="lead text-muted">
                    Tired of mainstream fashion ideas, popular trends and
                    societal norms? This line of lifestyle products will help
                    you catch up with the hipster trend and express your
                    personal style. Start shopping hip and vintage items now!
                </p>
            </div>
        </section>

        <div class="py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div th:each="product: ${products}" class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <a th:href="@{'/product/' + ${product.id}}">
                                <img class="card-img-top" alt =""
                                     style="width: 100%; height: auto;"
                                     th:src="${product.picture}">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title" th:text="${product.name}"></h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a th:href="@{'/product/' + ${product.id}}">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                                        </a>
                                    </div>
                                    <small class="text-muted" th:text="'CNY ' + ${product.price}">
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <div class="row">-->
<!--                    {{ with $.ad }}{{ template "text_ad" . }}{{ end}}-->
<!--                </div>-->
            </div>
        </div>
    </main>


    <footer th:replace="footer.html :: pageFooter"></footer>
    <script th:replace="footer.html :: footerScript"></script>
</body>
</html>
